.add-btn {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}